<p>Dashboards#index</p>
<p>Find me in app/views/dashboards/index.html.erb</p>
<br>
<h1> BEERMATH, Y'ALL </h1>
<br>
<%= link_to 'SEE THE BEERS', controller: 'beers' %>
<br>
<%= link_to 'GOT A NEW BEER?', new_beer_path %>
