<p>
  <br>
  <%= review.body %>
  <br>
  <strong> by: <%= review.commenter %></strong>
</p>
<p>
  <%= link_to 'Delete review', [review.beer, review],
              method: :delete,
              data: { confirm: 'You sure?' } %>
</p>
